<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About - MedStore</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'medstore_app/style.css' %}">


</head>
<body>
  <header>
    <div class="container">
      <h1>MedStore</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/login/">Login</a>
        <a href="/signup/">Signup</a>
      </nav>
    </div>
  </header>

  <main class="container">
    <h2>About MedStore</h2>
    <p>MedStore ek simple college project hai jisme Django framework ka use karke ek online medicine website banayi gayi hai.</p>
    <p>Is project ka purpose web development aur templates ka basic understanding lena hai.</p>
    <p>Future me hum admin panel aur database connect karenge taaki real product data add kar sake.</p>
  </main>

  <footer>
    <p>© 2025 MedStore</p>
  </footer>
</body>
</html>
