{% include 'medstore_app/header.html' %}
<div class="container">
  <div class="card">
    <h3>Orders</h3>

    <table>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Total</th>
        <th>Status</th>
        <th>Date</th>
      </tr>

      {% for o in orders %}
        <tr>
          <td>{{ o.id }}</td>
          <td>{{ o.user.username }} ({{ o.user.email }})</td>
          <td>₹{{ o.total_amount }}</td>
          <td>{{ o.status }}</td>
          <td>{{ o.datetime }}</td>
        </tr>
        <tr>
          <td colspan="5">
            <strong>Items:</strong>
            <ul>
              {% for it in o.items.all %}
                <li>{{ it.medicine.name }} — {{ it.quantity }} × ₹{{ it.price }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="5">No orders yet</td></tr>
      {% endfor %}
    </table>
  </div>
</div>
{% include 'medstore_app/footer.html' %}
