{% include 'medstore_app/header.html' %}
{% load static %}


<div class="admin-container">

    {% include 'medstore_app/admin_sidebar.html' %}

    <main class="admin-main">
        <h2 class="admin-title">Dashboard</h2>

        <div class="admin-cards">
            <div class="admin-card">
                <h3>Total Users</h3>
                <p>{{ total_users }}</p>
            </div>

            <div class="admin-card">
                <h3>Total Medicines</h3>
                <p>{{ total_products }}</p>
            </div>

            <div class="admin-card">
                <h3>Total Orders</h3>
                <p>{{ total_orders }}</p>
            </div>
        </div>

        <div class="admin-section">
            <h3>Recent Messages</h3>
            <ul>
                {% for m in recent_messages %}
                    <li><strong>{{ m.name }}:</strong> {{ m.message|truncatechars:70 }}</li>
                {% empty %}
                    <li>No messages available.</li>
                {% endfor %}
            </ul>
        </div>
    </main>
</div>

{% include 'medstore_app/footer.html' %}
