<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact - MedStore</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'medstore_app/style.css' %}">


</head>
<body>
  <header>
    <div class="container">
      <h1>MedStore</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/login/">Login</a>
        <a href="/signup/">Signup</a>
      </nav>
    </div>
  </header>

  <main class="container">
    <h2>Contact Us</h2>
    <p>any query contect us</p>
    <div class="contact-box">
      <p><strong>Email:</strong> medstorehelp@gmail.com</p>
      <p><strong>Phone:</strong> +91 98765 43210</p>
      <p><strong>Address:</strong> Ahmedabad, Gujarat</p>
    </div>
  </main>

  <footer>
    <p>MedStore</p>
  </footer>
</body>
</html>
