{% include 'medstore_app/header.html' %}

<div class="container form-box">
  <div class="card">
    <h3 class="center">Contact Us</h3>

    {% for m in messages %}
      <p class="msg">{{ m }}</p>
    {% endfor %}

    <form method="post">
      {% csrf_token %}
      <label>Your Name</label>
      <input type="text" name="name" required>

      <label>Your Email</label>
      <input type="email" name="email" required>

      <label>Your Message</label>
      <textarea name="message"></textarea>

      <button type="submit" class="btn">Send</button>
    </form>
  </div>
</div>

{% include 'medstore_app/footer.html' %}
