{% include 'medstore_app/header.html' %}

<div class="container form-box">
  <div class="card">
    <h3 class="center">Login</h3>

   
    {% for m in messages %}
      <p class="msg">{{ m }}</p>
    {% endfor %}

    <form method="post" action="">
      {% csrf_token %}

      <label>Username / Mobile / Email</label>
      <input type="text" name="identifier" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <button type="submit" class="btn">Login</button>

      <p class="small">
        New user? <a href="/signup/">Signup</a>
      </p>
    </form>
  </div>
</div>

{% include 'medstore_app/footer.html' %}
