{% include 'medstore_app/header.html' %}

<div class="container form-box">
  <div class="card">
    <h3 class="center">Signup</h3>

    {% if error %}
      <p class="msg">{{ error }}</p>
    {% endif %}
    {% if success %}
      <p class="msg">{{ success }}</p>
    {% endif %}

    {% for m in messages %}
      <p class="msg">{{ m }}</p>
    {% endfor %}

    <form method="post" action="{% url 'medstore_app:signup' %}">
      {% csrf_token %}

      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="mobile">Mobile Number</label>
      <input type="text" id="mobile" name="mobile" required>

      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <label for="confirm">Confirm Password</label>
      <input type="password" id="confirm" name="confirm" required>

      <button type="submit" class="btn">Signup</button>

      <p class="small">
        Already have an account?
        <a href="{% url 'medstore_app:login' %}">Login</a>
      </p>
    </form>
  </div>
</div>

{% include 'medstore_app/footer.html' %}
